<!--Header-->
<%- include('partials/header.ejs'); %> 

<!--Content-->
<h1>Home</h1>
<p><%= startText %></p>
<% postsArray.forEach(function(post){ %>
    <div class = "item">
        <h1><%= post.title %></a></h1>
        <p class="postContent">
            <%= post.content.substring(0,100) + "..." %>
            <a href="/posts/:<%= post.title %>" >Read More</a>
        </p>
    </div>
<% }) %>




<!--Footer-->
<%- include('partials/footer.ejs'); %> 
